@import '@fontsource-variable/geist';
@import '@fontsource-variable/jetbrains-mono';

@font-face {
	font-family: 'Observatory Mono';
	src: url('/observatory-mono.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	color-scheme: dark;
}
